{% extends "base-dashboard-client.html.twig" %}

{% block title %}Les utilisateurs{% endblock %}


{% block body %}
    <h3 class="font-weight-bold text-uppercase">GESTION UTILISATEURS</h3>
    <hr>
    <div class="card">
        <h3 class="card-header font-weight-bold">LES UTILISATEURS</h3>
        <div class="card-body">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success text-center text-uppercase font-weight-bold">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger text-center text-uppercase font-weight-bold">
                    {{ message }}
                </div>
            {% endfor %}

            {% if users is not empty %}
                <div class="table-responsive">
                    <table class="table table-bordered text-center font-weight-bold">
                        <thead>
                        <tr class="bg-primary-gradient text-white">
                            <th>NOM</th>
                            <th>TELEPHONE</th>
                            <th>CREE</th>
                            <th>ADMIN ?</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.nom }} {{ user.prenom }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.createdAt|date('d-m-Y') }}</td>
                                <td>
                                    {% if user.isAdmin %}
                                        <span class="badge badge-success">OUI</span>
                                    {% else %}
                                        <span class="badge badge-danger">NOM</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Groupe de button">
                                        {% if app.user.id == user.id %}
                                            <a type="button"
                                               href="{{ path('clients.userStations.edit', {'id': user.id}) }}"
                                               class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                                        {% else %}
                                            <a href="#" type="button" class="btn btn-sm btn-primary"><i
                                                        class="fas fa-eye"></i></a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-danger text-center text-uppercase font-weight-bolder">
                    Vous n'avez pas encore de clients enregistrés
                </div>
            {% endif %}
            {% if app.user.isAdmin %}
                <div class="float-left mt-3 mb-5">
                    <a href="{{ path('clients.userStations.add') }}"
                       class="btn btn-warning font-weight-bolder text-uppercase"><i
                                class="fas fa-plus"></i>&nbsp;Nouveau
                        utilisateur</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(".alert").delay(5000).slideUp(200, function () {
            $(this).alert('close');
        });
    </script>
{% endblock %}