{% extends 'base-gestion-client.html.twig' %}

{% block body %}
<h3 class="font-weight-bold text-uppercase">DETAIL CHAUFFEUR</h3>
<hr>
<div class="card">
    <div class="card-body text-uppercase font-weight-bold">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center text-uppercase font-weight-boldmb-3">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center text-uppercase font-weight-bold mb-3">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row mt-5 font-weight-bold text-uppercase">
            <div class="col-md-4">
                <div class="">
                    <p class="text-center">
                        <img src="{{ vich_uploader_asset(chauffeur) }}" width="250px" height="220px" alt="">
                    </p>
                    <p class="text-center"><a href="#"
                                              class="btn btn-outline-dark btn-sm">MODIFIER</a></p>
                </div>
            </div>
            <div class="col-md-8 font-weight-bold text-uppercase">
                <div class="">
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">Nom & Prénom</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ chauffeur.nom }} {{ chauffeur.prenom }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">DATE NAISSANCE</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ chauffeur.dateNaissance|date('d-m-Y') }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">TELEPHONE</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ chauffeur.telephone }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">TYPE VEHICULE</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ chauffeur.typeVehicule.name }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">NOMBRE VEHICULE</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ chauffeur.vehiculeChauffeurs.count }}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-4">
                            <h6 class="mb-0">INSCRIT LE</h6>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            <span class="badge badge-primary badge-pill">{{ chauffeur.createdAt|date('d-m-Y') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <h3 class="font-weight-bold text-uppercase mt-3">LES VEHICULES DU CHAUFFEUR</h3>
        <hr>
        <div class="table-responsive mt-3">
            <table class="table table-striped table-bordered font-weight-bold text-center text-uppercase">
                <thead>
                <tr class="bg-primary-gradient text-white">
                    <th>IMMATRICULATION</th>
                    <th>INSCRIT LE</th>
                    <th>QTE PRISE</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                {% for vehicule in chauffeur.vehiculeChauffeurs %}
                    <tr>
                        <td>{{ vehicule.immatriculation }}</td>
                        <td>{{ vehicule.createdAt|date('d-m-Y') }}</td>
                        {% set qte = 0 %}
                        {% for bon in vehicule.bonChauffeurs %}
                            {% set qte = qte + bon.quantite %}
                        {% endfor %}
                        <td><span class="badge-pill badge badge-danger font-weight-bold">{{ qte|format_number }} L</span></td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('gestion_jeux_concours.vehicule.show', {'id': vehicule.id}) }}" class="btn btn-outline-success btn-sm"><i
                                            class="fas fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <hr class="mt-3">
        <h3 class="font-weight-bold text-uppercase">LES BONS DU CHAUFFEUR</h3>
        <hr>
        <div class="table-responsive mt-3">
            {% if bons != [] %}
                <table class="table table-striped table-bordered text-center font-weight-bold text-uppercase">
                    <thead>
                    <tr class="bg-primary-gradient text-white">
                        <th>QTE</th>
                        <th>MONTANT</th>
                        <th>VEHICULE</th>
                        <th>DATE</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for bon in bons %}
                        <tr>
                            <td>{{ bon.quantite|format_number }} L</td>
                            <td>{{ bon.montant|format_number }} FCFA</td>
                            <td>{{ bon.vehiculeChauffeur.immatriculation }}</td>
                            <td>{{ bon.createdAt|date('d-m-Y') }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('gestion_jeux_concours.bon.show', {'id': bon.id}) }}" class="btn btn-outline-success btn-sm"><i
                                                class="fas fa-eye"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger font-weight-bold text-uppercase text-center">
                    Aucun bon chaufffeur n'a été trouvé
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block title 'detail chauffeur' %}

